@tailwind components;
@tailwind utilities;

html {
  direction: rtl;
}
body {
  font-family: 'Cairo', sans-serif;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.reverse-col {
  grid-auto-flow: dense;
  direction: ltr;
}

input {
  font-family: 'Cairo', sans-serif;
  font-size: medium;
}

textarea {
  font-family: 'Cairo', sans-serif;
  font-size: medium;
}
button {
  font-family: 'Cairo', sans-serif;
  font-size: medium;
}

h1 {
  line-height: 62px;
  font-size: 48px;
}
